.container {
  padding: 1rem 3rem;
  border-top: 0.2rem solid var(--separator-color);
}

.neutral {
  color: #ffb600;
}

.negative {
  color: #fd1c1c;
}

.positive {
  color: #2a8f2a;
}

.button {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border: 0.2rem solid var(--highlighter);
}

.open {
  background-color: var(--highlighter);
  color: white;
}

.close {
  background: none;
}

.name {
  font-size: 1.8rem;
  font-weight: 700;
}

.review {
  font-size: 1.6rem;
}