.button {
  padding: 2rem;
  background: none;
  border: none;
  border-bottom: 0.2rem solid var(--separator-color);
  width: 100%;

  img {
    height: 100px;
  }
}

.button:hover {
  background-color: #f6f5f5;
  border-radius: 2rem;
}