.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.part {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  text-align: start;
}