.pages {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  color: var(--text-secondary-color);
  font-weight: 900;
  font-size: 2rem;
  button {
    background-color: var(--highlighter);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 1rem;
  }
  button:active {
    background-color: var(--highlighter-active);
  }
  button:hover {
    background-color: var(--highlighter-hover);
  }
}
.curPage {
  color: black;
}